@import 'variables';
@import 'mixins';

#video-the-world-of-drones {
    .header {
        position: absolute;
        top: 10%;
        width: 100%;
        text-shadow: 4px 4px 0 $black;
        font-family: 'Luckiest Guy', 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 65px;
    }

    .frame {
        top: 60%;
        background-size: 100% 72%;
        width: 620px;

        .video {
            @include center;
            width: 88%;
        }
    }
}
